body {
  font-family: 'Palatino', 'Calibri', sans-serif;
  margin: 60px 8%;
  line-height: 25px;
}

.hide{
  display: none;
}

h1 {
  border-bottom: 1px solid #000;
  line-height: 50px;
}

a,
span {
  color: #000;
  text-decoration: none;
  border-bottom: 1px solid #000;
  padding-bottom: 3px;
  cursor: pointer;
}

code {
  background-color: #E8E8E8;
  font-size: 15px;
}

hr {
  border-top: 1px dotted #8c8b8b;
}

textarea {
  width: 100%;
  height: 200px;
  border: 0.5px solid #8c8b8b;
}

.ad {
  color: #ff0000;
}

table {
  border: 1px solid #ccc;
  border-collapse: collapse;
  margin: 0;
  padding: 0;
  width: 100%;
  font-size: 12px;
}

table tr {
  background: #f8f8f8;
  border: 1px solid #ddd;
  padding: .35em;
}

table th,
table td {
  text-align: center;
  border: 1px solid #ccc;
  border-collapse: collapse;
}

table th {
  font-size: .85em;
  letter-spacing: .1em;
  text-transform: uppercase;
}

@media screen and (max-width: 800px) {
  table{
    width: 800px;
  }
}